In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, date

In [2]:
b3stocks_T1_path = "Bolsa_de_valores/transformacoes/b3stocks_T1.csv"
b3_stocks_1994_2020_path = "Bolsa_de_valores/arquivo_base/b3_stocks_1994_2020.csv"

In [3]:
b3_stocks = pd.read_csv(b3_stocks_1994_2020_path, header='infer')
b3stocks_T1 = pd.read_csv(b3stocks_T1_path, header='infer')

Transformar data (datetime) para DD/MM/AAAA. Atualmente o formato est√° YYY-MM-DD. 1994-07-04
Gerar um arquivo chamado b3stocks_T1.csv

In [4]:
b3_stocks['datetime'] = pd.to_datetime(b3_stocks.datetime, format='%Y-%m-%d')
b3_stocks['data_formatada'] = b3_stocks['datetime'].dt.strftime('%d/%m/%Y')
datas_formatadas_aluno_t1 = b3stocks_T1['datetime']

In [5]:
print(f"Datas vazias no df original: {b3_stocks['datetime'].isnull().sum()}")
print(f"Datas vazias no df formatado: {datas_formatadas_aluno_t1.isnull().sum()}")

Datas vazias no df original: 0
Datas vazias no df formatado: 0

In [6]:
pd.testing.assert_series_equal(b3_stocks['data_formatada'], datas_formatadas_aluno_t1, check_names=False)

# T2 Considerando o arquivo anterior, fazer uma filtragem para que fique apenas um registro por dia. Esse registro deve ser apenas quele que possuir o maior volume negociado em bolsa.

In [40]:
b3_stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1883203 entries, 0 to 1883202
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   datetime        datetime64[ns]
 1   ticker          object
 2   open            float64
 3   close           float64
 4   high            float64
 5   low             float64
 6   volume          float64
 7   data_formatada  object
dtypes: datetime64[ns](1), float64(5), object(2)
memory usage: 114.9+ MB

In [46]:
b3_stocks.reset_index(inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1883203 entries, 0 to 1883202
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   index           int64
 1   datetime        datetime64[ns]
 2   ticker          object
 3   open            float64
 4   close           float64
 5   high            float64
 6   low             float64
 7   volume          float64
 8   data_formatada  object
dtypes: datetime64[ns](1), float64(5), int64(1), object(2)
memory usage: 129.3+ MB

In [48]:
# maior_valor_por_dia = b3_stocks.groupby(['datetime','ticker'])['volume'].max()
maior_valor_por_dia = b3_stocks.loc[b3_stocks.groupby('datetime')['volume'].idxmax()]
# maior_valor_por_dia.columns = ['datetime', 'ticker', 'volume']
# maior_valor_por_dia.reset_index(inplace=True)
# maior_valor_por_dia.to_csv("Bolsa_de_valores/transformacoes/maior_valor_por_dia.csv", header=True)
b3stocks_filtro_T2_path = 'Bolsa_de_valores/transformacoes/b3stocks_F1.csv'
b3stocks_filtro_T2 =  pd.read_csv(b3stocks_filtro_T2_path, header='infer')
b3stocks_filtro_T2['datetime'] = pd.to_datetime(b3stocks_filtro_T2['datetime'], format='%d/%m/%Y')

In [49]:
# print(b3stocks_filtro_T2[['datetime','volume']])
# maior_valor_por_dia.columns.values[1] = 'volume'
# print(maior_valor_por_dia.columns)
# 
display(maior_valor_por_dia)

# print(b3stocks_filtro_T2[['datetime','volume']])

,index,datetime,ticker,open,close,high,low,volume,data_formatada
123,123,1994-07-04,TEL 4,37.80,38.00,40.00,36.50,3.883477e+07,04/07/1994
293,293,1994-07-05,TEL 4,38.50,37.80,38.50,36.80,4.788101e+07,05/07/1994
525,525,1994-07-06,TEL 4,39.00,39.90,40.40,38.01,9.470312e+07,06/07/1994
772,772,1994-07-07,TEL 4,41.50,40.90,41.70,40.10,1.233317e+08,07/07/1994
996,996,1994-07-08,TEL 4,40.40,42.60,43.00,40.01,1.324432e+08,08/07/1994
...,...,...,...,...,...,...,...,...,...
1882966,1882966,2020-12-22,VALE3,86.86,86.94,86.99,85.43,1.997275e+09,22/12/2020
1882967,1882967,2020-12-23,VALE3,86.53,87.36,87.53,86.40,1.542163e+09,23/12/2020
1882968,1882968,2020-12-28,VALE3,87.79,87.31,88.58,87.08,2.285785e+09,28/12/2020
1882969,1882969,2020-12-29,VALE3,87.97,87.07,88.20,86.51,1.720104e+09,29/12/2020
1882970,1882970,2020-12-30,VALE3,87.19,87.45,87.59,86.65,2.629355e+09,30/12/2020

In [52]:
# maior_valor_por_dia[['datetime','volume']].info()
b3stocks_filtro_T2[['datetime','volume']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321272 entries, 0 to 321271
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   datetime  321272 non-null  datetime64[ns]
 1   volume    321272 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 4.9 MB

In [54]:
maior_valor_por_dia.merge( b3stocks_filtro_T2, indicator=True, how='outer')
# pd.testing.assert_series_equal(maior_valor_por_dia[['datetime','volume']], b3stocks_filtro_T2[['datetime','volume']], check_names=False)

,index,datetime,ticker,open,close,high,low,volume,data_formatada,_merge
0,NaN,1994-07-04,BB 4,17.00,17.20,17.30,17.00,1.055644e+06,NaN,right_only
1,NaN,1994-07-04,CTL 4,21.00,21.00,21.82,20.01,1.305017e+06,NaN,right_only
2,NaN,1994-07-04,CTN 4,226.55,226.55,226.55,226.55,6.343400e+05,NaN,right_only
3,NaN,1994-07-04,ELE 3,210.00,208.00,216.00,208.00,2.265390e+06,NaN,right_only
4,NaN,1994-07-04,ELE 6,210.00,207.99,217.00,206.00,4.398228e+06,NaN,right_only
...,...,...,...,...,...,...,...,...,...,...
321267,1882970.0,2020-12-30,VALE3,87.19,87.45,87.59,86.65,2.629355e+09,30/12/2020,both
321268,NaN,2020-12-30,VIVT3,45.20,46.50,46.50,45.19,1.847321e+08,NaN,right_only
321269,NaN,2020-12-30,VVAR3,16.61,16.16,16.78,16.16,6.045219e+08,NaN,right_only
321270,NaN,2020-12-30,WEGE3,75.37,75.74,76.65,75.24,4.697657e+08,NaN,right_only
321271,NaN,2020-12-30,YDUQ3,33.27,32.92,33.60,32.76,9.309984e+07,NaN,right_only

Considerando o arquivo da transforma√ß√£o T1 (b3stocks_T1.csv), fazer uma filtragem para que fique apenas os registros que possu√≠rem volume negociado acima da m√©dia di√°ria.

In [70]:
# Calcula a m√©dia di√°ria de volume
media_diaria = b3_stocks.groupby('datetime')['volume'].mean()

# Cria uma coluna com a m√©dia di√°ria
b3_stocks['media_diaria'] = b3_stocks['datetime'].map(media_diaria)
b3_stocks['media_diaria'] = b3_stocks['media_diaria'].apply(float)
# Filtra as linhas com volume acima da m√©dia di√°ria
b3stocks_Media_diaria_maior = b3_stocks[b3_stocks['volume'] > b3_stocks['media_diaria']]

In [71]:
b3stocks_Media_diaria_maior.info()

<class 'pandas.core.frame.DataFrame'>
Index: 321272 entries, 25 to 1883184
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   index           321272 non-null  int64
 1   datetime        321272 non-null  datetime64[ns]
 2   ticker          321272 non-null  object
 3   open            321272 non-null  float64
 4   close           321272 non-null  float64
 5   high            321272 non-null  float64
 6   low             321272 non-null  float64
 7   volume          321272 non-null  float64
 8   data_formatada  321272 non-null  object
 9   media_diaria    321272 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(2)
memory usage: 27.0+ MB

In [73]:
b3_stocks['media_diaria'] = b3_stocks['media_diaria'].map('{:.2f}'.format)

In [74]:
display(b3stocks_Media_diaria_maior.sort_values('datetime', ascending=True))

,index,datetime,ticker,open,close,high,low,volume,data_formatada,media_diaria
25,25,1994-07-04,BB 4,17.00,17.20,17.30,17.00,1055643.6,04/07/1994,441774.12
123,123,1994-07-04,TEL 4,37.80,38.00,40.00,36.50,38834774.0,04/07/1994,441774.12
122,122,1994-07-04,TEL 3,28.00,27.50,28.50,27.00,1094322.0,04/07/1994,441774.12
109,109,1994-07-04,SCO 4,860.00,860.00,862.50,860.00,592430.0,04/07/1994,441774.12
103,103,1994-07-04,PET 4,94.00,96.50,98.50,93.50,7479814.3,04/07/1994,441774.12
...,...,...,...,...,...,...,...,...,...,...
1879390,1879390,2020-12-30,BIDI4,34.30,32.90,34.45,32.56,82314172.0,30/12/2020,38936357.93
1881945,1881945,2020-12-30,PCAR3,75.40,75.05,76.64,74.30,58924919.0,30/12/2020,38936357.93
1881967,1881967,2020-12-30,PETR3,28.85,28.85,29.09,28.75,604692375.0,30/12/2020,38936357.93
1881691,1881691,2020-12-30,MTRE3,16.38,17.00,17.00,16.27,41271988.0,30/12/2020,38936357.93
1883184,1883184,2020-12-30,YDUQ3,33.27,32.92,33.60,32.76,93099839.0,30/12/2020,38936357.93

In [75]:
b3stocks_Filtro_T3_path = "Bolsa_de_valores/transformacoes/b3stocks_T1_Filtrado.csv"
b3stocks_filtro_T3 = pd.read_csv(b3stocks_Filtro_T3_path, header='infer')
b3stocks_filtro_T3['datetime'] = pd.to_datetime(b3stocks_filtro_T3['datetime'], format='%d/%m/%Y')

In [81]:
resultado = b3stocks_Media_diaria_maior.merge(b3stocks_filtro_T3, indicator=True, how='outer')

In [89]:
print("Total de registros filtrados: {:,}".format(len(b3stocks_Media_diaria_maior)))
print("Total de registros filtrados pelo grupo: {:,}".format(len(b3stocks_filtro_T3)))
print("Total de registros filtrados diferen√ßa: {:,}".format(len(resultado[resultado['_merge'] != 'both'])))

Total de registros filtrados: 321,272
Total de registros filtrados pelo grupo: 321,272
Total de registros filtrados diferen√ßa: 0

In [ ]:
# Remove a coluna auxiliar
# df_filtrado = df_filtrado.drop('media_diaria', axis=1)