In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, date

In [2]:
b3stocks_T1_path = "Bolsa_de_valores/transformacoes/b3stocks_T1.csv"
b3_stocks_1994_2020_path = "Bolsa_de_valores/arquivo_base/b3_stocks_1994_2020.csv"

In [3]:
b3_stocks = pd.read_csv(b3_stocks_1994_2020_path, header='infer')
b3stocks_T1 = pd.read_csv(b3stocks_T1_path, header='infer')
b3_stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1883203 entries, 0 to 1883202
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   datetime  object
 1   ticker    object
 2   open      float64
 3   close     float64
 4   high      float64
 5   low       float64
 6   volume    float64
dtypes: float64(5), object(2)
memory usage: 100.6+ MB

In [4]:
b3_stocks.head()

     datetime ticker    open   close    high     low    volume
0  1994-07-04  ACE 3   48.00   48.00   48.00   47.00   46550.0
1  1994-07-04  ALP 3  155.27  156.00  156.00  155.27  163405.8
2  1994-07-04  ALP 4  131.00  131.00  131.00  131.00    6550.0
3  1994-07-04  IBP 6  600.00  600.00  600.00  600.00    7800.0
4  1994-07-04  AQT 4    0.89    0.99    0.99    0.85   13137.0

Transformar data (datetime) para DD/MM/AAAA. Atualmente o formato est√° YYY-MM-DD. 1994-07-04
Gerar um arquivo chamado b3stocks_T1.csv

In [5]:
#Transformar datas
# datas_formatadas = pd.to_datetime(b3_stocks["datetime"], format="%d/%m/%Y")
# b3_stocks.style.format({"datetime": lambda t: t.strftime("%d/%m/%Y")}) 
# datas_formatadas = datetime.strptime(b3_stocks["datetime"], "%d/%m/%Y")
b3_stocks['datetime'] = pd.to_datetime(b3_stocks.datetime)
b3_stocks['data_formatada'] = b3_stocks['datetime'].dt.strftime('%d/%m/%Y')
# b3_stocks["data_formatada"] = b3_stocks.datetime.apply(lambda x: datetime.strptime(x, "%d/%m/%Y"))
# datas_formatadas = b3_stocks["datetime"].dt.strftime("%d/%m/%Y").date()
# datas_formatadas = b3_stocks["datetime"]
b3_stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1883203 entries, 0 to 1883202
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   datetime        datetime64[ns]
 1   ticker          object
 2   open            float64
 3   close           float64
 4   high            float64
 5   low             float64
 6   volume          float64
 7   data_formatada  object
dtypes: datetime64[ns](1), float64(5), object(2)
memory usage: 114.9+ MB

In [6]:
b3_stocks.head()

    datetime ticker    open   close    high     low    volume data_formatada
0 1994-07-04  ACE 3   48.00   48.00   48.00   47.00   46550.0     04/07/1994
1 1994-07-04  ALP 3  155.27  156.00  156.00  155.27  163405.8     04/07/1994
2 1994-07-04  ALP 4  131.00  131.00  131.00  131.00    6550.0     04/07/1994
3 1994-07-04  IBP 6  600.00  600.00  600.00  600.00    7800.0     04/07/1994
4 1994-07-04  AQT 4    0.89    0.99    0.99    0.85   13137.0     04/07/1994

In [7]:
#b3stocks_T1.columns = ["datetime", "1","2","3","4","5","7"]
b3stocks_T1.head()

     datetime ticker    open   close    high     low    volume
0  04/07/1994  ACE 3   48.00   48.00   48.00   47.00   46550.0
1  04/07/1994  ALP 3  155.27  156.00  156.00  155.27  163405.8
2  04/07/1994  ALP 4  131.00  131.00  131.00  131.00    6550.0
3  04/07/1994  IBP 6  600.00  600.00  600.00  600.00    7800.0
4  04/07/1994  AQT 4    0.89    0.99    0.99    0.85   13137.0

# compara√ß√£o com o arquivo do aluno

In [8]:
datas_formatadas_aluno = pd.to_datetime(b3stocks_T1["datetime"], format="%d/%m/%Y").dt.strftime('%d/%m/%Y')
datas_formatadas_aluno.head()

0    04/07/1994
1    04/07/1994
2    04/07/1994
3    04/07/1994
4    04/07/1994
Name: datetime, dtype: object

Considerando o arquivo anterior, fazer uma filtragem para que fique apenas um registro por dia. Esse registro deve ser apenas quele que possuir o maior volume negociado em bolsa.

In [11]:
df_datas_formatadas_origem = pd.to_datetime(b3_stocks['data_formatada'], format="%d/%m/%Y").dt.strftime('%d/%m/%Y')

In [14]:
df_datas_formatadas_origem.head()

0    04/07/1994
1    04/07/1994
2    04/07/1994
3    04/07/1994
4    04/07/1994
Name: data_formatada, dtype: object

In [15]:
df_merge = pd.merge(df_datas_formatadas_origem, datas_formatadas_aluno, how="inner",
            left_on='data_formatada', right_on='datetime')

In [6]:
data_formatada = pd.to_datetime(b3_stocks["datetime"])
b3_stocks["datetime"] = data_formatada.dt.strftime("%d/%m/%Y")

maior_valor_por_dia = b3_stocks.groupby('datetime')['volume'].max()
maior_valor_por_dia.to_csv("maior_valor_por_dia.csv", header=True)

Considerando o arquivo da transforma√ß√£o T1 (b3stocks_T1.csv), fazer uma filtragem para que fique apenas os registros que possu√≠rem volume negociado acima da m√©dia di√°ria.

In [7]:
media = b3_stocks["volume"].mean()
print(media)

valores_acima_da_media = b3_stocks.loc[b3_stocks["volume"] > media]
valores_acima_da_media.to_csv("valores_acima_da_media.csv")

16682861.888060307