In [25]:
import pandas as pd
import numpy as np

In [26]:
b3stocks_T1_path = "Bolsa_de_valores/transformacoes/b3stocks_T1.csv"
b3_stocks_1994_2020_path = "Bolsa_de_valores/arquivo_base/b3_stocks_1994_2020.csv"

In [27]:
b3_stocks = pd.read_csv(b3_stocks_1994_2020_path, low_memory=False)
b3stocks_T1 = pd.read_csv(b3stocks_T1_path, low_memory=False)

Transformar data (datetime) para DD/MM/AAAA. Atualmente o formato está YYY-MM-DD. 1994-07-04
Gerar um arquivo chamado b3stocks_T1.csv

In [28]:
#Transformar datas
datas_formatadas = pd.to_datetime(b3_stocks["datetime"])
datas_formatadas = datas_formatadas.dt.strftime("%d/%m/%Y")

datas_formatadas.head()

0    04/07/1994
1    04/07/1994
2    04/07/1994
3    04/07/1994
4    04/07/1994
Name: datetime, dtype: object

In [29]:
#b3stocks_T1.columns = ["datetime", "1","2","3","4","5","7"]
#b3stocks_T1.head()

     datetime      1          2          3          4          5         7
0  04/07/1994  ALP 3     155.27     156.00     156.00     155.27  163405.8
1  04/07/1994  ALP 4     131.00     131.00     131.00     131.00    6550.0
2  04/07/1994  IBP 6     600.00     600.00     600.00     600.00    7800.0
3  04/07/1994  AQT 4       0.89       0.99       0.99       0.85   13137.0
4  04/07/1994  ARN 4  145400.00  145400.00  145400.00  145400.00    1454.0

In [ ]:
#comparação com o arquivo do aluno

#datas_formatadas_aluno = pd.to_datetime(b3stocks_T1["datetime"])

#df_merge = pd.merge(datas_formatadas, datas_formatadas_aluno, left_on="data", right_on="aluno", how="inner")

#df_merge.head()

Considerando o arquivo anterior, fazer uma filtragem para que fique apenas um registro por dia. Esse registro deve ser apenas quele que possuir o maior volume negociado em bolsa.

In [35]:
data_formatada = pd.to_datetime(b3_stocks["datetime"])
b3_stocks["datetime"] = data_formatada.dt.strftime("%d/%m/%Y")

maior_valor_por_dia = b3_stocks.groupby('datetime')['volume'].max()
maior_valor_por_dia.to_csv("maior_valor_por_dia.csv", header=True)

Considerando o arquivo da transformação T1 (b3stocks_T1.csv), fazer uma filtragem para que fique apenas os registros que possuírem volume negociado acima da média diária.

In [37]:
media = b3_stocks["volume"].mean()
print(media)

valores_acima_da_media = b3_stocks.loc[b3_stocks["volume"] > media]
valores_acima_da_media.to_csv("valores_acima_da_media.csv")

16682861.888060307