In [1]:
import pandas as pd
import numpy as np

In [2]:
tweets = "Tweets_Dataset/arquivo_base/tweets.csv"
tweets_formated_date = "Tweets_Dataset/transformacoes/tweets_formatted_date.csv"
tweets_mentioned_persons = "Tweets_Dataset/transformacoes/tweets_mentioned_persons.csv"

In [3]:
df_tweets = pd.read_csv(tweets, low_memory=False, encoding='latin1')
df_tweets_formated = pd.read_csv(tweets_formated_date, low_memory=False, encoding='latin1')
df_tweets_mentioned = pd.read_csv(tweets_mentioned_persons, low_memory=False, encoding='latin1')

In [4]:
df_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   Target  1048575 non-null  int64
 1   ID      1048575 non-null  int64
 2   Date    1048575 non-null  object
 3   flag    1048575 non-null  object
 4   User    1048575 non-null  object
 5   Text    1048575 non-null  object
dtypes: int64(2), object(4)
memory usage: 48.0+ MB

# Verificar transformação das datas no campos de datas para DD/MM/AAAA

In [5]:
df_datas_formatadas_origem = df_tweets['Date']
datas_formatadas_aluno = df_tweets_formated['Date']
# df_formated_data = df_formated_data['data']
print(f"Datas vazias no df original: {df_datas_formatadas_origem.isnull().sum()}")
print(f"Datas vazias no df formatado: {datas_formatadas_aluno.isnull().sum()}")
# df_formated_data['data_formatada'] = pd.to_datetime(datas_formatadas_aluno, format="%d/%m/%Y", errors='raise')

pd.testing.assert_series_equal(df_datas_formatadas_origem, datas_formatadas_aluno, check_names=False)

Datas vazias no df original: 0
Datas vazias no df formatado: 0

AssertionError: Series are different

Series length are different
[left]:  1048575, RangeIndex(start=0, stop=1048575, step=1)
[right]: 524795, RangeIndex(start=0, stop=524795, step=1)

In [9]:
datas_formatadas_aluno.info()

<class 'pandas.core.series.Series'>
RangeIndex: 524795 entries, 0 to 524794
Series name: Date
Non-Null Count   Dtype
--------------   -----
524795 non-null  object
dtypes: object(1)
memory usage: 4.0+ MB

0          06/04/2009
1          06/04/2009
2          06/04/2009
3          06/04/2009
4          06/04/2009
              ...
1048570    29/05/2009
1048571    29/05/2009
1048572    29/05/2009
1048573    29/05/2009
1048574    29/05/2009
Name: data_formatada, Length: 1048575, dtype: object

In [8]:
df_tweets['Date'] = pd.to_datetime(df_tweets['Date'], format='%a %b %d %H:%M:%S %Z %Y')
df_tweets['data_formatada'] = df_tweets['Date'].dt.strftime('%d/%m/%Y')
pd.testing.assert_series_equal(df_tweets['data_formatada'] , datas_formatadas_aluno, check_names=False)

AssertionError: Series are different

Series length are different
[left]:  1048575, RangeIndex(start=0, stop=1048575, step=1)
[right]: 524795, RangeIndex(start=0, stop=524795, step=1)

2- A partir da primeira transformação (tweets_formated_data.csv) crie duas novas colunas, “mentioned_person” e “mentioned_person_count”. Para a coluna “mentioned_person” você deve filtrar menções a outros usuários no campo Text
dos tweets e adicionar o nome desse usuários a coluna “mentioned_person”. Para a coluna “mentioned_person_count”, adicione o número de usuários mencionados (é possível identificar tweets que mencionam outros usuários pelo character “@”).

In [11]:
df_tweets['At_Count'] = df_tweets['Text'].apply(lambda x: str(x).count('@'))

In [23]:
df_tweets.loc[df_tweets['At_Count'] > 3]

,Target,ID,Date,flag,User,Text,data_formatada,At_Count,mentioned_person
6524,0,1469450046,2009-04-07 06:25:08,NO_QUERY,stephenhughes,"Alas, nothing new for me there @bishboria. I'm...",07/04/2009,4,bishboria/infiniteloops/roundingerrors/scopecreep
9788,0,1548880146,2009-04-17 22:16:08,NO_QUERY,cerencik,@bennehton @Sweet_Pau @tynie626 @NoOrdinaryGur...,17/04/2009,4,bennehton/Sweet_Pau/tynie626/NoOrdinaryGurl
9908,0,1550700198,2009-04-18 06:59:34,NO_QUERY,ashleymarie6,@StephanieOlsen @stateiamin @wishcake @racheli...,18/04/2009,4,StephanieOlsen/stateiamin/wishcake/racheliza
14172,0,1553579047,2009-04-18 14:38:54,NO_QUERY,philpursglove,"Cheers to all at #webdd (esp. @plip, @davesuss...",18/04/2009,4,plip/davesussman/apwestgarth/blowdart
14917,0,1553917367,2009-04-18 15:33:56,NO_QUERY,markress,@rossgoldberg @FasterWebmaster @russiandiva @F...,18/04/2009,7,rossgoldberg/FasterWebmaster/russiandiva/Felic...
...,...,...,...,...,...,...,...,...,...
1047963,4,1958096420,2009-05-29 02:38:56,NO_QUERY,siri_he,@androidtomato @_supernatural_ @HAMMER32 @Meeh...,29/05/2009,4,androidtomato/_supernatural_/HAMMER32/Meehra
1048315,4,1958135188,2009-05-29 02:46:52,NO_QUERY,Ms211nLA,@FillmoreRich3 @DEO415 @SimonaSpeaks @SamSneak...,29/05/2009,8,FillmoreRich3/DEO415/SimonaSpeaks/SamSneaker/m...
1048357,4,1960142705,2009-05-29 07:29:31,NO_QUERY,farmerBOOM,has a @topherrpop at my house @vajayjay @liam...,29/05/2009,4,topherrpop/vajayjay/liamsp/alexthemagix
1048454,4,1960156250,2009-05-29 07:30:49,NO_QUERY,sarahdiddle,follow friday @redta @StanSmithCIA @sarahdiddl...,29/05/2009,5,redta/StanSmithCIA/sarahdiddle/SpitfireJon/ponet
1048516,4,1960158687,2009-05-29 07:31:03,NO_QUERY,GFillustrator,Thanks for #followfriday @GfWarrior @Authoro...,29/05/2009,4,GfWarrior/AuthorofPatches/MKRob/RemieJames

In [19]:
import re

def extrair_mencoes(texto):
    # Expressão regular para capturar palavras que começam com '@'
    mencoes = re.findall(r'@\w+', texto)
    mencoes_modificada = [s[1:] for s in mencoes if len(s) > 1]
    return '/'.join(mencoes_modificada)

# Exemplo de uso
texto = "Olá @joao, fale com @maria e também avise @pedro sobre o evento!"
mencoes = extrair_mencoes(texto)

print("Menções encontradas:", mencoes)

Menções encontradas: joao/maria/pedro

In [20]:
df_tweets['mentioned_person'] = df_tweets['Text'].apply(lambda x: extrair_mencoes(x))

In [22]:
df_tweets['At_Count'] = df_tweets['mentioned_person'].apply(lambda x: len(x.split('/')))

In [25]:
print(f"Menções no df original: {df_tweets['At_Count'].sum()}")
print(f"Menções no df aluno: {df_tweets_mentioned['mentioned_person_count'].sum()}")

KeyboardInterrupt:

In [24]:
pd.testing.assert_series_equal(df_tweets['mentioned_person'], df_tweets_mentioned['Mentioned_persons'], check_names=False)

AssertionError: Series are different

Series length are different
[left]:  1048575, RangeIndex(start=0, stop=1048575, step=1)
[right]: 524795, RangeIndex(start=0, stop=524795, step=1)